.main-header {
  display: flex;
  justify-content: space-around;
  background-color: #333;
  padding: 30px;
  color: #fff;
  a {
    color: #fff;
    text-decoration: none;
    margin: 0 20px;
    transition: color .3s;
  }
  a:hover {
    color: rgb(112, 85, 202);
  }
}

.todo-container {
  max-width: 100%;
}
.welcome_msg {
  font-family: Sympathy, sans-serif;
	font-size: 60px;
	text-align: center;
	margin: 0 auto;
}
.taskApp {
  margin: 30px 0;
	padding: 40px;
	background-color: #eee;
	max-width: 100%;
	height: 100%;
}

.addTodo {
  padding: 0 20px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: auto;
}

.bttn-todo {
  margin: 30px;
	font-size: 25px;
	font-weight: bold;
	color: #555;
	width: 50px;
	height: 50px;
	border: 1px solid #555;
	outline: none;
	border-radius: 100%;
	background-color: #ccc;
}

.bttn-describe {
  font-family: 'Blackfat';
	margin: 0 auto;
	font-size: 35px;
}

.close {
  padding-left: 40px;
	display: none;
	cursor: pointer;
}

.newToDo {
  border-radius: 10px;
	margin: 5px;
	display: flex;
	align-items: center;
	padding: 20px;
	font-size: 20px;
	transition: background-color .5s;

}
.newToDo:hover {
  .close {
    display: block;
  } 
}

.todoText {
  padding: 20px;
	margin: 0 20px;
	font-family: Slimamif, District;
	font-size: 30px;

}