<div class="container">
  <div class="main-header">
    <span>Hello, {{name}}</span>
    <div class="acc-actions">
      <a href="/profile">My profile</a>
      <a href="/login">Log Out</a>
    </div>
  </div>
  <div class="main-body">
    <div class="todo-container">
      <h1 class="welcome_msg">Hello, here is my todo app</h1>
     <div class="taskApp">
       <div class="addTodo">
             <textarea id="msg" rows="4" cols="40" placeholder="Lets type something we need to do"></textarea>
         <button id="addBttn" class="bttn-todo">
           +
         </button>
         <p class="bttn-describe">Click on "Plus" to add toDo</p>
         </div>
         <div id="total_amount"></div>
         <div id="current-list" class="current-list"></div>
         <span id="close" class="close"> X </span>
     </div>
 </div>
  </div>
</div>
