.container {
	width: 80%;
	height: 500px;
	background-color: #ddd;
	margin: 0 auto;
}


.start_bttn {
	background-color: red;
	text-align: center;
	display: inline-block;
	margin: 50px 250px;
	padding: 20px 40px;
}
.hero {
	display: flex;
	flex-wrap: wrap;
}
.hero-data {
	display: flex;
	flex-direction: column;
	flex-basis: 50%;
}

.img {

	display: none;
	padding: 20px;
}
.bttn-group {
	background-color: #333;
	display: flex;
	flex-flow: row wrap;
	padding: 50px;
	justify-content: space-around;
	align-items: flex-end;
}
.act_bttn {
	padding: 10px 20px;
}
.hero-data > {
	padding: 5px;
}