@font-face {
  font-family: 'Sympathy';
  font-style: normal;
  font-weight: bold;
  src: url("../fonts/Sympathy.otf"); }

@font-face {
  font-family: 'Blackfat';
  font-style: normal;
  font-weight: bold;
  src: url("../fonts/Blackfat.ttf"); }

@font-face {
  font-family: 'District';
  font-style: normal;
  font-weight: bold;
  src: url("../fonts/District.otf"); }

@font-face {
  font-family: 'Slimamif';
  font-style: normal;
  font-weight: 800;
  src: url("../fonts/Slimamif.ttf"); }

.container {
  padding: 100px;
  max-width: 100%; }

.welcome_msg {
  font-family: Sympathy, sans-serif;
  font-size: 60px;
  text-align: center;
  margin: 0 auto; }

.taskApp {
  margin: 30px;
  padding: 40px;
  background-color: #eee;
  max-width: 100%;
  height: 100%; }

.addTodo {
  padding: 0 20px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: auto; }

.add-img {
  max-width: 100%; }

.bttn-todo {
  margin: 30px;
  max-width: 100px;
  border: none;
  outline: none;
  -webkit-border-radius: 100%;
          border-radius: 100%;
  background-color: #ccc; }

.bttn-describe {
  font-family: 'Blackfat';
  margin: 0 auto;
  font-size: 35px; }

.close {
  padding-left: 40px;
  display: none;
  cursor: pointer; }

.newToDo {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 20px;
  font-size: 20px; }
  .newToDo:hover .close {
    display: block; }

.todoText {
  padding: 20px;
  margin: 0 20px;
  font-family: Slimamif, District;
  font-size: 30px; }
