.center {
  text-align: center;
}

.main-link {
  text-decoration: none;
  color: #a0e;
}

.body-container {
  display: flex;
  flex-direction: column;
  padding-top: 100px;
}

.descr {
  font-size: 30px;
  line-height: 1.5;
}