@font-face
	font-family: 'Sympathy'
	font-style: normal
	font-weight: bold
	src: url('../fonts/Sympathy.otf')

@font-face
	font-family: 'Blackfat'
	font-style: normal
	font-weight: bold
	src: url('../fonts/Blackfat.ttf')
	
@font-face
	font-family: 'District'
	font-style: normal
	font-weight: bold
	src: url('../fonts/District.otf')

@font-face
	font-family: 'Slimamif'
	font-style: normal
	font-weight: 800
	src: url('../fonts/Slimamif.ttf')
